# Postgres (Supabase) — connection string com pooling (porta 6543) recomendada
DATABASE_URL=postgresql://postgres.csxdpflyqnpzmfihmizj:Ub1r!tan2344@aws-0-ca-central-1.pooler.supabase.com:5432/postgres

# Supabase Storage
SUPABASE_URL=postgresql://postgres.csxdpflyqnpzmfihmizj:Ub1r!tan2344@aws-0-ca-central-1.pooler.supabase.com:5432/postgres
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndreGZhZXBlbWNnYnVia2dndGN5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NzgyOTI5OSwiZXhwIjoyMTAzNDA1Mjk5fQ.tARIiLrLveeiJdIFq7o2Kg4PsD2MxdVbKsajzSmlimg

# Better Auth
BETTER_AUTH_SECRET=gqxReYI8hFzrfIRp3xqh0vv1oc5fNC92jI0hLrbTwos
BETTER_AUTH_URL=http://localhost:3000
